.pokemon-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    background: linear-gradient(180deg, #87aaeb 0%, #FFD700 100%);
    min-height: 100vh;
}

.pokemon-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow:
            -2px -2px 0 #2a75bb,
            2px -2px 0 #2a75bb,
            -2px 2px 0 #2a75bb,
            2px 2px 0 #2a75bb,
            -3px 0px 0 #2a75bb,
            3px 0px 0 #2a75bb,
            0px -3px 0 #2a75bb,
            0px 3px 0 #2a75bb,
            0 0 20px #ffffff;
    margin-bottom: 50px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.pokemon-card {
    background: #2a75bb;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: #fff;
    position: relative;
}

.pokemon-card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pokemon-logo {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/public/logo.png') no-repeat center center;
    background-size: cover;
    border: 3px solid #fff;
}

.pokemon-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}
